@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@1&display=swap');

.NavBar {
    background-color: rgba(198, 198, 198, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.NavLinks {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.NavLinks a {
    margin-right: 4em;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.3s;

}

.NavLinks a:hover {
    color: blueviolet;
}

.NavLogo {
    font-family: 'Fruktur', cursive;
    font-size: 42px;
    text-align: left;
    margin-left: 1em;
}

.NavLogo a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: rgb(255, 255, 255);
}

.NavLogo a:hover {
    color: blueviolet;
}
