@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.nav-bar {
    background-color: rgba(0, 0, 0, 0.21);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    position: fixed;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: large;

}

.nav-links a {
    margin-right: 3em;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.3s;
    display: block;

}

.nav-links a:hover {
    color: #ffffff71;
}

.nav-links a:active {
    color: #ffffff2f;
}

.nav-logo {
    /* font-family: 'Fruktur', cursive; */
    font-size: 42px;
    text-align: left;
    margin-left: 1em;
    z-index: 10000000;
}

.nav-logo :hover {
    color: rgba(255, 255, 255, 0.933);
    transition: 0.2s;
}

.nav-logo :active {
    color: #ffffff2f;
}

.nav-logo a {
    text-decoration: none;
    font-weight: 800;
    color: #ffffff;
    transition: 0.5s;
    text-shadow: -1.5px -1.5px 0 #40136a, 1.5px -1.5px 0 #40136a, -1.5px 1.5px 0 #40136a, 1.5px 1.5px 0 #40136a;
    color: #8a2be3;
}

.icon {
    display: inline-block;
    font-size: 23px;
    padding-right: 0.7em;
    color: #8a2be3;
}

.icon2 {
    display: inline-block;
    font-size: 24.5px;
    padding-right: 0.5em;
    color: #8a2be3;
}

.SocialLinks a {
    display: inline-block;
    font-size: 40px;
    padding-right: 0.2em;
    color: #ffffff;
}

.SocialLinks :hover {
    display: inline-block;
    color: #ffffff71;
    cursor: pointer;
}

.SocialLinks :active {
    color: #ffffff2f;
}