@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Styling for greeting content */
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.hey-there {
    margin-bottom: -5em;
}

.home-page {
    font-family: 'Oswald', sans-serif;
    margin-left: 5%;
    margin-top: 10em;
    float: left;
    width: 90%;
}

.home-page-container {
    float: left;
    width: 50%;
    display: flex;
}

.home-img {
    float: right;
    margin-top: 10em;
    margin-right: 15%;
    width: 70%;
}

.home-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.kirby {
    width: auto;
    height: 7em;
    vertical-align:baseline;
    margin-left: 0.5em;
    margin-bottom: -1em;
}

.greeting {
    display: inline-block;
}

/* ------------------------------------------------------------------------------ */

/* Styling for "How about an intro?" */
.intro-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}

.intro-img {
    margin-top: 3em;
    width: 70%;
    height: auto;
    padding-bottom: 5em;
    float: left;
}

.intro-page {
    margin-right: 10%;
    margin-bottom: 10em;
    float: right;
    font-family: 'Oswald', sans-serif;
    width: 90%;
    line-height: 2em;
}

.intro-page-container {
    float: right;
    width: 50%;
    display: flex;
}