:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100vh;
    

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);

    background: rgb(58, 13, 131);
    background: linear-gradient(360deg, rgb(90, 20, 202) 0%, rgba(21, 0, 54, 1) 96%);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
} */

a:hover {
    color: #ffffff;
}