:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);

    background: rgb(75, 57, 104);
    background: linear-gradient(360deg, rgb(105, 60, 179) 0%, rgb(0, 0, 0) 96%);

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
} */

a:hover {
    color: #ffffff;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(90, 47, 111, 0.461);
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: blueviolet;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .Purple {
    color: blueviolet;
    font-weight: 800;
}